@model KitchenModel

@{
    ViewData["Title"] = "Kitchen";
}


<div class="container">
    <header>
        <h1>Kitchen</h1>
    </header>
    <div class="row">
        <div class="col-md-1">
            <p>Date:</p>
        </div>
        <div class="col-md-5">
            <input type="date" id="date" name="date" value="@Model.ChosenDate" />
        </div>
        <div class="col-md-6">
             <button onclick="Update()" class="btn btn-primary">Get information for choosen date</button>
            <script type="text/javascript">
                function Update() {
                    var date = document.getElementById("date").value;
                    var url = date;
                    window.location.href = url;
                }
            </script>
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-md-6">
            <p>Expected number of guests:</p>
        </div>
        <div class="col-md-6">
            <table>
                <tr>
                    <th></th>
                    <th>Counts</th>
                </tr>
                <tr>
                    <td><strong>Adults</strong></td>
                    <td>
                        @Html.DisplayFor(model => model.TotalAdultsForChosenDate)
                    </td>
                </tr>
                <tr>
                    <td><strong>Children</strong></td>
                    <td>
                        @Html.DisplayFor(model => model.TotalChildrenForChosenDate)
                    </td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td>
                        @Html.DisplayFor(model => model.TotalForChosenDate)
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(model => model.TotalAdultsCheckedIn):
        </div>
            <div class="col-md-6">
                <input type="number" id="checkedInChildren" value="@Html.DisplayFor(model => model.TotalAdultsCheckedIn)" readonly style="width: 4.5em" />
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-6">
           @Html.LabelFor(model => model.TotalChildrenCheckedIn):
        </div>
        <div class="col-md-6">
            <input type="number" id="checkedInAdults" value="@Html.DisplayFor(model => model.TotalChildrenCheckedIn)" readonly style="width: 4.5em"  />
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-md-6">
            <p>Not checked in guests yet:</p>
        </div>
        <div class="col-md-6">
            <table>
                <tr>
                    <th></th>
                    <th>Counts</th>
                </tr>
                <tr>
                    <td><strong>Adults</strong></td>
                    <td>@Html.DisplayFor(model => model.NotCheckedInAdults)</td>
                </tr>
                <tr>
                    <td><strong>Children</strong></td>
                    <td>@Html.DisplayFor(model => model.NotCheckedInChildren)</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td>@Html.DisplayFor(model => model.NotCheckedInTotal)</td>
                </tr>
            </table>
        </div>
    </div>
    
    
    <div>
        <br/>
        <br/>
        <a class="btn btn-primary" asp-action="HomePage">Back to home page</a>
    </div>

</div>
