@using Microsoft.CodeAnalysis
@model Morgenmadsbuffeten.Models.BreakfastOrder

@{
    ViewData["Title"] = "Kitchen";
}

<br />
<h1>Kitchen</h1>
<br />

<div class="container">
    <div class="row">
        <div class="col-md-1">
            <p>Date: </p>
        </div>
        <div class="col-md-7">
            <input type="date" id="date" name="date" />
        </div>
        <div class="col-md-4">
            <button onclick="getDataForChosenDate()" class="btn btn-primary">Get information for choosen date</button>
            <script>
                function getDataForChosenDate() {

                    chosendate = document.getElementById("date").value();
                }
            </script>

        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-md-6">
            <p>Expected number of guests: </p>
        </div>
        <div class="col-md-6">
            <table>
                <tr>
                    <th></th>
                    <th>Counts</th>
                </tr>
                <tr>
                    <td><strong> @Html.DisplayNameFor(model => model.Adults)</strong></td>
                    <td>

                        @Html.DisplayForModel(Model.Adults);
                    </td>
                </tr>
                <tr>
                    <td><strong>@Html.DisplayNameFor(model => model.Children)</strong></td>
                    <td>
                        @Html.DisplayForModel(Model.Children);
                    </td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td>
                        Her skal total stå
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-md-6">
            @Html.DisplayNameFor(model => model.CheckedInChildren)
        </div>
        <div class="col-md-6">
            <input type="number" id="checkedInChildren" value=" Her skal checked in stå" readonly />
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-6">
            <p>@Html.DisplayNameFor(model => model.CheckedInAdults)</p>
        </div>
        <div class="col-md-6">
            <input type="number" id="checkedInAdults" value=" her skal checked in stå" readonly />
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-md-6">
            <p>Not checked in guests yet </p>
        </div>
        <div class="col-md-6">
            <table>
                <tr>
                    <th></th>
                    <th>Counts</th>
                </tr>
                <tr>
                    <td><strong>Adults</strong></td>
                    <td>Her skal antal stå</td>
                </tr>
                <tr>
                    <td><strong>Children</strong></td>
                    <td>Her skal antal stå</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td>Her skal antal stå</td>
                </tr>
            </table>
        </div>
    </div>

</div>


